* {
	box-sizing: border-box;
}

.menuitems{
  background: #8A8989;
  height: 1000px;
  padding: 10px;
}
.navbar-brand {
	clear:both;
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}
#nav-list  {
  margin-top: 10px;
  padding: 0px;
}
#nav-list a {
  color: #115D5E;
  text-align: center;
}
#nav-list a:hover {
  background: #A5A6A6;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #A5A6A6;
}
.navbar-header button.navbar-toggle {
 clear: both;
  margin-top: -30px;
}

hr {
  border-color: white;
}