.row {
	width: 100%;
}

@media (min-width:1200px)  {
	
}

h1 {
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	font-size: 1.75em;
}

h2 {
	color: #E9E8E8;
	background: #000000;
	font-family: arial, sans-serif;
	font-size: 1.25em;
}

p {
	font-family: arial, sans-serif;
	color: #454444;
}